@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #900048;
}

h1,
h3 {
  color: black;
}

.groups-form {
  border: solid 2px black;
  border-radius: 5px;
  width: 250px;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.groups-form button {
  width: fit-content;
  align-self: center;
  padding: 10px;
  margin-top: 20px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 10px;
  color: black;
}

.groups-form input {
  border: 2px solid black;
  border-radius: 10px;
  background-color: transparent;
  color: black;
  text-align: center;
  padding: 20px;
  font-size: 25px;
}

.groups-list {
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

.group-info {
  border: 2px solid black;
  border-radius: 10px;
  padding: 50px;
  text-align: center;
  width: 300px;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.edit-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 50px;
}

.edit-buttons button {
  width: fit-content;
  align-self: center;
  padding: 10px;
  margin-top: 20px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 10px;
  color: black;
}

.edit-form {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.edit-form input {
  border: 2px solid black;
  border-radius: 10px;
  background-color: transparent;
  color: black;
  text-align: center;
  padding: 20px;
}

.edit-form button {
  width: fit-content;
  align-self: center;
  padding: 10px;
  margin-top: 20px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 10px;
  color: black;
}
